Blog Post:
<hr/>
<div><label for="title">Title:</label><span id="title">{{model.title}}</span></div>
<div><label for="body">Body:</label><span id="body">{{model.body}}</span></div>
<hr/>
<div class="link">
  {{#link-to 'index'}}Application{{/link-to}}
</div>